* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.home,
.login,
.logout {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: linear-gradient(
    to bottom right,
    rgba(214, 113, 113, 0.886),
    rgb(101, 151, 122)
  );
}
