.card {
  position: sticky;
  background-color: white;
  width: 700px;
  padding: 20px;
  max-width: 85vw;
  height: 54vh;
  box-shadow: 1px 1px 8px 8px rgba(60, 29, 29, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.tinderCards__cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.swipe {
  position: absolute;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: white;
  text-shadow: black 2px 2px;
}

.description {
  font-size: 30px;
  color: white;
  text-shadow: black 2px 2px;
}

.swipeButtons {
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  margin-top: 63vh;
  margin-left: 8vw;
  margin-right: 8vw;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.45) !important;
}

.theX {
  width: 65px;
  height: 63px;
  font-size: 4rem;
}

.theHeart {
  width: 65px;
  height: 62px;
  font-size: 3.9rem;
}

.swipeButtons__left {
  padding: 3vw !important;
  display: flex;
  color: #ec5e6f !important;
}

.swipeButtons__right {
  padding: 3vw !important;
  fill: aquamarine;
  color: #55c16e;
}

.HomePage {
  justify-items: center;
}
