.card {
  position: relative;
  background-color: white;
  width: 700px;
  padding: 20px;
  max-width: 85vw;
  height: 54vh;
  box-shadow: 1px 1px 8px 8px rgba(60, 29, 29, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.tinderCards__cardContainer {
  display: flex;
  justify-content: center;
  margin-top: -37vh;
}

.swipe {
  position: absolute;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: white;
  text-shadow: black 2px 2px;
}

.description {
  font-size: 30px;
  color: white;
  text-shadow: black 2px 2px;
}
